/*.navbar-nav>li>form {
    padding-top: 15px;
    / *padding-bottom: 15px;* /
}
*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.navbar-default {
  background-color: #ffffff;
  margin-right: 15px;
}

.ui-autocomplete-loading {
  background: white url('http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-autocomplete .ui-menu {
    z-index: 10
}

.navbar {
    z-index: 0
}

/*.description {
  font-size: small;
  color: grey;
  padding-left: 1em;
}*/

.breadcrumb {
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.panel {
  margin-bottom: 30px;
  border: none;
  box-shadow: none;
}-

.panel-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}

.panel-body {
  padding-top: 7px;
  padding-bottom: 7px;
}

.resultLine {
  margin-bottom: 5px;
  margin-top: 5px;
}

footer {
  border-top: lightgrey 1px solid;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#hayoo {
  width: 300px;
}

.more {
  font-size: small;
  color: grey;
}

pre {
  font-size: small;
  color: grey;  
}

code {
  font-size: small;
  color: grey;  
}

.result-subtitle{
  font-size: small;  
}
