/*.navbar-nav>li>form {
    padding-top: 15px;
    / *padding-bottom: 15px;* /
}
*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.navbar-default {
  background-color: #ffffff;
  margin-right: 15px;
}

.ui-autocomplete-loading {
  background: white url('http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-autocomplete .ui-menu {
    z-index: 10
}

.navbar {
    z-index: 0
}

/*.description {
  font-size: small;
  color: grey;
  padding-left: 1em;
}*/

.breadcrumb {
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.panel {
  margin-bottom: 30px;
  border: none;
  box-shadow: none;
}-

.panel-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}

.panel-body {
  padding-top: 7px;
  padding-bottom: 7px;
}

.resultLine {
  margin-bottom: 5px;
  margin-top: 5px;
}

footer {
  /*border-top: lightgrey 1px solid;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  /*background-color: #f5f5f5;*/
  text-align:center;
  padding:10px;
}

#hayoo {
  width: 100%;
}

.more {
  font-size: small;
  color: grey;
}

pre {
  font-size: small;
  color: grey;
}

code {
  font-size: small;
  color: grey;
}

.result-subtitle{
  font-size: small;
}

.form-search-input
{
  width:100%;

}


hr { display: block; height: 1px;
   border: 0; border-top: 1px solid #90bce8;
   margin: 1em 0; padding: 0; }

.panel-body {
  background-color: #f9f9f9;
}

.align-right
{
  text-align:right;
}
